.header-css{
 
    margin-left: 50px;
    margin-top: 0px;
    padding-top: 50px;

}

.club-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 20px;
}


.sports-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 35px;
}
.sport-summary{
    background-color: rgb(183, 201, 195);
    margin-left: 30px;
    margin-top: -250px;
}

@media  screen and (max-width:600px ) {
       
    .header-css{
        margin-left: 0px;
        margin-right: 10%;
        margin-left: 25%;
       
    }
    .sport-summary{
       margin-left: 20%;
        margin-right: 15%;
        margin-top: 30px;

    }
    .club-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .sports-container{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0px;
        padding-right: 0px;
      
    }
}
@media  screen and (max-width:780px){
    .club-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .sports-container{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0px;
        padding-right: 0px;
      
    }
    .sport-summary{
        margin-left: 20%;
         margin-right: 15%;
         margin-top: 30px;
 
    } 
}
