.header-css{
 
    margin-left: 50px;
    margin-top: 0px;
    padding-top: 50px;

}

.club-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 20px;
}


.sports-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 35px;
}
.sport-summary{
    background-color: rgb(183, 201, 195);
    margin-left: 30px;
    margin-top: -250px;
}